*,
*::before,
*::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
     background: #3787ff38; 
}

/* navbar */

#navbar {
      box-shadow: 0 0 50px darkblue;
}

#navbar ul li {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 6px;
}

#navbar ul li:hover {
      transition: 0.4s ease-in-out;
      transform: scale(1.3) ;
      cursor: pointer;
      color: darkblue;
}

/* banner */

#banner {
      width: 80%;
      margin: 1rem auto;
      border-radius: 25px;
      display: flex;
      align-items: center;
}

#banner h1 {
      color: white;
      font-size: 4rem;
      letter-spacing: 10px;
}

#banner h1:hover {
      transition: 0.7s ease-in-out;
      transform: scale(1.1) ;
      cursor: pointer;
      color: darkblue;
}

#banner > i {
      color: white;
      font-size: 3rem;
}

#banner > i:hover {
      transition: 0.7s ease-in-out;
      transform: scale(1.1) ;
      cursor: pointer;
      color: darkblue;
}

/* form */

#form {
      background: #3787ff7e;
      width: 80%;
      margin: 1rem auto;
      border-radius: 25px;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
}

#form:hover {
      cursor: pointer;
}

/* carousel part */

#carusel-box {
      width: 80%;
      height: 700px;
      margin: 1rem auto;
      border-radius: 25px;
}

.carousel-item > img {
      width: 400px;
      height: 700px;
}

/* destinations-cards */

.destinations-cards {
      width: 80%;
      margin: 45px auto;
      display: flex;
      flex-wrap: wrap;
}

.destinations-cards > div {
      width: calc(33% - 15px);
      height: 220px;
      margin:10px 10px;
      background-color: #a1c6fd98;
      padding: 30px;
      border-radius: 15px;
      transition: 0.3s linear;
}

.destinations-cards > div:hover {
      cursor: pointer;
      transform: scale(1.3);
      box-shadow: 5px 5px 20px white;
      background-color: #3787ff49;
}

.destinations-cards > div > p {
      text-align: center;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
}

#img-cards {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
}

/* footer */

footer {
      width: 100%;
      height: 70px;
      background-color: #3787ff7e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
}

#div-icons i {
      margin: 0 10px;
      font-size: 2rem;
}

#div-icons i:hover {
      transform: scale(1.5);
      color: royalblue;
      transition: 0.4s;
      cursor: pointer;
}

.fa-instagram {
      color: rgb(223, 94, 43);
}

.fa-facebook-square {
      color: blue;
}

.fa-ethereum {
      color: goldenrod;
}

.fa-twitter {
      color: dodgerblue;
}

.fa-plane {
      color: purple;
}

#div-button button {
      padding: 15px;
      border: none;
      background-color: blue;
      color: white;
      font-weight: bold;
      border-radius: 5px;
}

#div-button button:hover {
      color: blue;
      background-color: white;
      border: blue 2px solid;
      transform: scale(1.1);
      cursor: pointer;
      transition: 0.4s;
}